.form-flex {
    display: flex;
}

.show-image {
    position: relative;
}

.image-product {
    padding: .5rem;
    border-radius: 2rem;
}

.delete {
    top: 2%;
    position: absolute;
    right: 2%;
    display: none;
    cursor: pointer;
}

.show-image:hover .delete {
    display: block;
}
