@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>500 - Lỗi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/style/css/error-page.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .background-body-login {
            background-image: url(../../images/background/bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .mg-5 {
            margin: 5px;
        }
    </style>
</head>

<body class="background-body-login">
    <section id="error">
        <div class="content">
            <i class="fa fa-warning"></i>
            <h1>500</h1>
            <p>Lỗi hệ thống!</p>
            <p>Liên hệ với quản trị viên để được hỗ trợ thêm</p>
            <p>Email: Stationerystore.hcm01@gmail.com</p>
            <p>Số điện thoại: 0359146521</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-success mg-5" asp-action="Index" asp-controller="Home">Quay lại trang chủ</a>
            </div>
        </div>
    </section>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
</body>

</html>