@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Areas/Shipper/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Bảng điều khiển</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <a asp-action="OrderWaitPick" asp-controller="Order" asp-area="Shipper" class="text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Đơn hàng mới</div>
                                <div id="order-wait-for-pick" class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <a asp-action="OrderWaitDelivery" asp-controller="Order" asp-area="Shipper" class="text-decoration-none">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Đơn hàng chờ xác nhận giao</div>
                                <div id="order-waiting-delivery-pick" class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <a asp-action="OrderDelivery" asp-controller="Order" asp-area="Shipper" class="text-decoration-none">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Đơn hàng đang giao</div>
                                <div id="order-delivering-pick" class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-truck fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <a asp-action="OrderDelivered" asp-controller="Order" asp-area="Shipper" class="text-decoration-none">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Đơn hàng đã giao</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div id="order-delivered-pick" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Tổng số đơn hàng đang giao / đã giao</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-bar" style="height: 420px; max-height: 600px; margin: 0px auto;">
                        <div id="pie-chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <!--<div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">-->
                <!-- Card Header - Dropdown -->
                <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>-->
                <!-- Card Body -->
                <!--<div class="card-body">
                    <div style="height: 420px; max-height: 600px; margin: 0px auto;">
                        
                        <canvas id="myPieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
@section Scripts{
    <script src="~/js/chartjs/jquery.canvasjs.min.js"></script>
    <script>
        "use strict";

        $(() => {
            let connection = new signalR.HubConnectionBuilder()
                .withUrl("/signalServer")
                .withAutomaticReconnect()
                .build();

            connection.on("orderWaitForPick", function () {
                loadOrderWaitForPickData();
            });

            connection.on("orderWaitToDelivery", function () {
                loadOrderWaitToDeliveryData();
            });

            connection.on("orderDelivering", function () {
                loadOrderDeliveringData();
            });

            connection.on("orderDelivered", function () {
                loadOrderDeliveredData();
            });

            connection.on("orderDeliveringOrDelivered", function () {
                loadOrderDeliveringOrDeliveredData();
            });

            loadOrderWaitForPickData();
            loadOrderDeliveringData();
            loadOrderDeliveredData();
            loadOrderWaitToDeliveryData();
            loadOrderDeliveringOrDeliveredData();

            connection.start().then(function () {
                connection.invoke("ShipperJoinGroup", "Shipper");
                console.log("Shipper Join to group");
            }).catch(function (err) {
                    return console.error(err);
            })

            function loadOrderWaitForPickData() {
                $.ajax({
                    url: '/Shipper/Home/GetOrderWaitForPick',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        $("#order-wait-for-pick").text(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }

            function loadOrderDeliveringData() {
                $.ajax({
                    url: '/Shipper/Home/GetOrderDelivering',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        $("#order-delivering-pick").text(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }

            function loadOrderDeliveredData() {
                $.ajax({
                    url: '/Shipper/Home/GetOrderDelivered',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        $("#order-delivered-pick").text(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
            
            function loadOrderWaitToDeliveryData() {
                $.ajax({
                    url: '/Shipper/Home/GetOrderWaitToConfirmDelivery',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        $("#order-waiting-delivery-pick").text(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }

            function loadOrderDeliveringOrDeliveredData() {
                $.ajax({
                    url: '/Shipper/Home/GetOrderDeliveringOrDelivered',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        var json = JSON.parse(data);
                        var chart = new CanvasJS.Chart("pie-chart", {
                            animationEnabled: true,
                            title: {
                                text: "Đơn hàng đang giao / đã giao"
                            },
                            data: [{
                                type: "pie",
                                startAngle: 240,
                                yValueFormatString: "##0.00\"%\"",
                                indexLabel: "{label} {y}",
                                dataPoints: json
                            }]
                        });
                        chart.render();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
        });
    </script>
}