@inject Services.Interfacies.IBannerService _bannerService
@{ 
    var banners = await _bannerService.GetBannerAsync();
    var rnd = new Random();
}
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="box-slide-show">
        <div class="slide-show">
            <div class="vt-slideshow">
                <ul>
                    @if (!(banners is null) && !(banners.FirstOrDefault() is null))
                    {
                        foreach (var item in banners)
                        {
                            int num = rnd.Next(1, 5);

                            string className = "slide" + num.ToString();

                            <li class="@className" data-transition="random"><img src="~/images/banner/@item.Image" alt="Banner" /></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>