<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="box-slide-show">
        <div class="slide-show">
            <div class="vt-slideshow">
                <ul>
                    <li class="slide1" data-transition="random"><img src="images/slide/home03/bg-s2.png" alt="" /></li>
                    <li class="slide2" data-transition="random"><img src="images/slide/home03/bg-s1.png" alt="" /></li>
                    <li class="slide3" data-transition="random"><img src="images/slide/home03/bg-s3.png" alt="" /></li>
                    <li class="slide3" data-transition="random"><img src="images/slide/home03/bg-s4.png" alt="" /></li>
                </ul>
            </div>
        </div>
    </div>
</div>