<div id="box-footer">
    <div class="box-footer-top">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="box-connect col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="block-title"><span>Connect with</span></div>
                        <a href="#" class="face-book">face book</a>
                        <a href="#" class="tweeter">tweeter</a>
                        <a href="#" class="no-name">no-name</a>
                        <a href="#" class="pinseter">pinseter</a>
                        <a href="#" class="google">google+</a>
                        <a href="#" class="init">init</a>
                    </div>
                    <div class="box-newletter col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="block-title"><span>Newsletter</span></div>
                        <div class="content">
                            <form action="#" method="post">
                                <input name="newletter" type="text" class="newletter" placeholder="Enter your email address" />
                                <button><span>Subscribe</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer-middle">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="block block-info col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="block-title"><span>Information</span></div>
                        <div class="block-content">
                            <ul>
                                <li><a href="#">Site Map</a></li>
                                <li><a href="#">Search Terms</a></li>
                                <li><a href="#">Advanced Search</a></li>
                                <li><a href="#">Our stores</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block block-customer col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="block-title"><span>Customer Service</span></div>
                        <div class="block-content">
                            <ul>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Shop By Brand</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block block-galary col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="block-title"><span>Shopping Guide</span></div>

                        <div class="block-content">
                            <ul>
                                <li><a href="#">How to buy</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Payment</a></li>
                                <li><a href="#">Shipment</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block block-cu col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="block-title"><span>Contact us</span></div>
                        <div class="block-content">
                            <ul>
                                <li class="item1"><span>Our business address is 1063 <br />Freelon Street San Francisco</span></li>
                                <li class="item2"><span>+ 020.566.6666</span></li>
                                <li class="item3"><a href="mailto:support@7-Up.com">support@7-Up.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="box-left">
                    <ul>
                        <li class="home"><a>MELLO</a></li>
                        <li><a href="#">About Us   </a><span>|</span></li>
                        <li><a href="#">Delivery & Returns</a><span>|</span></li>
                        <li><a href="#">Terms & Conditions</a><span>|</span></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <h6>Mello &copy; 2015 Magento Demo Store. All Rights Reserved. Designed by <a title="Visit VnThemePro.Com!" href="7uptheme.com">7-Up</a></h6>
                </div>
                <div class="box-right">
                    <ul>
                        <li><img src="images/p1.png" alt="" /></li>
                        <li><img src="images/p2.png" alt="" /></li>
                        <li><img src="images/p3.png" alt="" /></li>
                        <li><img src="images/p4.png" alt="" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a id="gototop">Top</a>
</div>