@inject Services.Interfacies.IAccountService _accountService
@{ 
    string userId = Guid.Empty.ToString();
    if(User != null && User.Identity.IsAuthenticated)
    {
        userId = _accountService.GetUserId(User);
    }
}
<div id="box-footer">
    <div class="box-footer-top">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="box-connect col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="block-title"><span>Kết nối với chúng tôi</span></div>
                        <a href="#" class="face-book">face book</a>
                        <a href="#" class="tweeter">tweeter</a>
                        <a href="#" class="pinseter">pinseter</a>
                        <a href="#" class="google">google+</a>
                    </div>
                    <div class="box-newletter col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="block-title"><span>Đăng ký nhận tin</span></div>
                        <div class="content">
                            <form action="#" method="post">
                                <input name="newletter" type="text" class="newletter" placeholder="Nhập địa chỉ email của bạn" />
                                <button><span>Đăng ký</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer-middle">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="block block-info col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="block-title"><span>Thông tin chung</span></div>
                        <div class="block-content">
                            <ul>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Vị trí cửa hàng</a></li>
                                <li><a href="#">Tìm kiếm nâng cao</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block block-customer col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="block-title"><span>Dịch vụ khách hàng</span></div>
                        <div class="block-content">
                            <ul>
                                <li><a asp-action="CheckOut" asp-controller="Cart">Xem giỏ hàng</a></li>
                                <li><a asp-action="Information" asp-controller="Account">Xem thông tin tài khoản</a></li>
                                <li><a asp-action="Orders" asp-controller="Order" asp-route-userId="@userId">Thông tin đơn hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block block-galary col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="block-title"><span>Hướng dẫn mua hàng</span></div>

                        <div class="block-content">
                            <ul>
                                <li><a asp-action="GuideBuyProduct" asp-controller="Guide">Cách thức mua hàng</a></li>
                                @*<li><a href="#">Câu hỏi thường gặp</a></li>*@
                                <li><a asp-action="GuidePayment" asp-controller="Guide">Phương thức thanh toán</a></li>
                                <li><a href="#">Phương thức vận chuyển</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block block-cu col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="block-title"><span>Liên hệ với chúng tôi</span></div>
                        <div class="block-content">
                            <ul>
                                <li class="item1"><span>Cửa hàng đồ dùng học tập <br />Stationery Store</span></li>
                                <li class="item2"><span>+ 84 359554019</span></li>
                                <li class="item3"><a href="mailto:StationeryStore.HCM01@gmail.com">StationeryStore.HCM01@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="box-left">
                    <ul>
                        <li class="home"><a>Stationery Store</a></li>
                        <li><a href="#">Về chúng tôi   </a><span>|</span></li>
                        <li><a href="#">Giao hàng & Trả hàng</a><span>|</span></li>
                        <li><a href="#">Liên hệ với chúng tôi</a></li>
                    </ul>
                    <h6>Stationery Store &copy; 2021</h6>
                </div>
                <div class="box-right">
                    <ul>
                        <li><img src="~/images/logo/cod.png" alt="Thanh toán bằng COD" width="60" height="30"/></li>
                        <li><img src="~/images/logo/momo.png" alt="Thanh toán bằng ví MoMo"  width="60" height="30"/></li>
                        <li><img src="~/images/logo/paypal.png" alt="Thanh toán bằng ví Paypal"  width="60" height="30"/></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a id="gototop">Top</a>
</div>