@{ 
    var urlBack = Context.Request.Path;
}
<div id="box-header">
    <div class="header-container">
        <div class="header">
            <div class="box-header-01">
                <div class="container">
                    <div class="row">
                        <div class="logo">
                            <a href="./index.html"><img src="images/logo-home-03.png" alt="" /></a>
                        </div>
                        <div class="account-and-cart">
                            <div class="my-account">
                                <div class="content">
                                    <ul class="left">
                                        <li><a class="top-link-myaccount" href="./information.html">My Account</a></li>
                                        <li><a class="top-link-wishlist" href="#">My Wishlist</a></li>
                                        <li><a class="top-link-checkout" href="#">Checkout</a></li>
                                        <li><a class="top-link-login" asp-controller="Account" asp-action="Login">Đăng nhập</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="box-cart">
                                <div class="cart-mini">
                                    <div class="title">
                                        <span class="item">0 Item</span>
                                    </div>
                                    <div class="block-content">
                                        <div class="inner">
                                            <p class="block-subtitle">Recently added item(s)</p>
                                            <ol id="cart-sidebar" class="mini-products-list">
                                                <li class="item">
                                                    <a href="#" title="Fashion Product 09" class="product-image">
                                                        <img src="images/product/small/image-demo-1.jpg" alt="Fashion Product 09" />
                                                    </a>
                                                    <a href="#" class="btn-remove">Remove This Item</a>
                                                    <a href="#" title="Edit item" class="btn-edit">Edit item</a>
                                                    <div class="product-details">
                                                        <p class="product-name"><a title="Fashion Product 09" href="#">Fashion Product 09</a></p>
                                                        <span class="price">$200.00</span>
                                                        <div class="qty-abc">
                                                            <a title="Decrement" class="qty-change-left" href="#">down</a>
                                                            <input class="input-text qty" type="text" value="1" />
                                                            <a title="Increment" class="qty-change-right" href="#">up</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                            <div class="summary">
                                                <p class="subtotal">
                                                    <span class="label">Subtotal:</span> <span class="price">$200.00</span>
                                                </p>
                                            </div>
                                            <div class="actions">
                                                <div class="a-inner">
                                                    <a class="btn-mycart" href="#" title="View my cart">view my cart</a>
                                                    <a href="" title="Checkout" class="btn-checkout">Checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-search">
                            <form action="./search.html" method="POST">
                                <button><span>search</span></button>
                                <ul class="drop-search">
                                    <li>
                                        <span class="selected">All Categories </span>
                                        <ul>
                                            <li>All Categories </li>
                                            <li>Cate 1</li>
                                            <li>Cate 2</li>
                                            <li>Cate 3</li>
                                        </ul>
                                    </li>
                                </ul>
                                <input name="search" type="text" value="" placeholder="search this site..." />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="~/Views/Shared/_Navigation.cshtml" />
        </div>
    </div>
</div>