<!DOCTYPE html>
<html xml:lang="en" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/style/css/style-main-home-03.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" media="all" />
    <title>@ViewData["Title"]</title>
</head>

<body class="home home-03">
    <partial name="~/Views/Shared/_Header.cshtml" />
    <div id="box-content">
        <div class="container">
            <div class="row">
                <div class="row">
                    <partial name="~/Views/Shared/_LeftNavigation.cshtml" />
                    <partial name="~/Views/Shared/_Banner.cshtml" />
                </div>
            </div>
        </div>
        @RenderBody()
    </div>

    <partial name="~/Views/Shared/_Footer.cshtml" />

    <script type="text/javascript" src="~/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/style/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/galary-image/js/jquery.blueimp-gallery.min.js"></script>
    <script type="text/javascript" src="~/js/galary-image/js/bootstrap-image-gallery.js"></script>
    <script type="text/javascript" src="~/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/slideshow/jquery.themepunch.revolution.js"></script>
    <script type="text/javascript" src="~/js/slideshow/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/js/theme-home-03.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>