@inject Services.Interfacies.ICategoryService _categoryService
@{
    var categories = await _categoryService.GetAllCategoriesAsync();
}
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="vertical-menu">
        <div class="all-cate"><span>Loại sản phẩm</span></div>
        <ul>
            @if(categories != null && categories.Any())
            {
                foreach(var item in categories.Take(10))
                {
                    <li><a asp-action="Search" asp-controller="Search" asp-route-text="@item.CategoryName">@item.CategoryName</a></li>
                }
            }
        </ul>
    </div>
</div>