<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="vertical-menu">
        <div class="all-cate"><span>Categories</span></div>
        <ul>
            <li><a href="./detail.html">Minitors</a></li>
            <li><a href="#">Printers</a></li>
            <li><a href="#">Lnk, Toner & Paper</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Services & apps</a></li>
            <li><a href="#">Campus networking</a></li>
            <li><a href="#">Data center</a></li>
            <li><a href="#">Wireless networking</a></li>
            <li><a href="#">Workstations</a></li>
        </ul>
    </div>
</div>