  <div class="box-header-02">
    <div class="container">
        <div class="row">
            <div class="menu">
                <div class="box-main-menu">
                    <div class="main-menu">
                        <ul>
                            <li class="item1 first"><a href="home-01.html">Home</a></li>
                            <li class="item2 megamenu-parent">
                                <a href="grid.html">Tablets</a>
                                <div class="vt_megamenu_content">
                                    <div class="mega-menu-01">
                                        <div class="menu-01 menu-01-cate">
                                            <div class="title"><span>Categories</span></div>
                                            <ul class="content-col">
                                                <li class="first"><a class="mega-lap" href="#"><span>Laptop</span></a></li>
                                                <li><a class="mega-tvi" href="#"><span>TV</span></a></li>
                                                <li><a class="mega-mob" href="#"><span>Mobile</span></a></li>
                                                <li><a class="mega-tab" href="#"><span>Tablet</span></a></li>
                                                <li><a class="mega-cam" href="#"><span>Camera</span></a></li>
                                                <li class="last"><a class="mega-rad" href="#"><span>Radio</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-01 menu-01-top">
                                            <div class="title"><span>Tops</span><span class="hot">Hot</span></div>
                                            <ul class="content-col">
                                                <li class="first"><a href="#"><span>Smartphones</span></a></li>
                                                <li><a href="#"><span>Accessories</span></a></li>
                                                <li><a href="#"><span>Headsets</span></a></li>
                                                <li><a href="#"><span>Batteries</span></a></li>
                                                <li><a href="#"><span>Screen Protectors</span></a></li>
                                                <li class="last"><a href="#"><span>Memmory Cards</span></a></li>
                                            </ul>
                                        </div>
                                        <div id="feature" class="menu-01 menu-01-feature carousel-feature">
                                            <div class="title"><span>Featured</span><span class="new">New</span></div>
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <div class="image"><img alt="" src="images/feature-mega01.png" /></div>
                                                    <div class="carousel-caption-feature">
                                                        <div class="title-advan">
                                                            <span class="name-advan">Ipad Air and iOS7</span>
                                                            <div class="text-des-advan"><span>At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="image"><img alt="" src="images/feature-mega01.png" /></div>
                                                    <div class="carousel-caption-feature">
                                                        <div class="title-advan">
                                                            <span class="name-advan">Ipad Air and iOS7</span>
                                                            <div class="text-des-advan"><span>At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="image"><img alt="" src="images/feature-mega01.png" /></div>
                                                    <div class="carousel-caption-feature">
                                                        <div class="title-advan">
                                                            <span class="name-advan">Ipad Air and iOS7</span>
                                                            <div class="text-des-advan"><span>At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="menu-01 menu-01-sale">
                                            <div class="title"><span>Sale</span></div>
                                            <div class="content">
                                                <img alt="" src="images/sale-mega-01.png" />
                                                <p class="description">At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</p>
                                                <div class="shop-now"><a title="Shop now" href="#"><span>Shop now</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item4"><a href="grid.html">Giới thiệu </a></li>
                            <li class="item5"><a href="grid.html">Liên hệ </a></li>
                        </ul>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div class="bgr-menu">
            </div>
        </div>
    </div>
</div>