
@{
    ViewData["Title"] = "Bảng điều khiển";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Bảng điều khiển</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <a asp-action="OrderWaitComfirm" asp-controller="Order" asp-area="Admin" class="text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Đơn hàng mới</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="new-order-quantity">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <a asp-action="WarehouseWait" asp-controller="Warehouse" asp-area="Admin" class="text-decoration-none">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Phiếu yêu cầu nhập kho</div>
                                <div id="new-warehouse-quantity" class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Khách hàng mới</div>
                            <div id="new-account-quantity" class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div id="account-percent" class="h5 px-2 mb-0 mr-3">0%</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Doanh thu tháng này</div>
                            <div id="revenue-value" class="h5 mb-0 font-weight-bold text-gray-800">0 VNĐ</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div id="revenue-percent" class="h5 px-2 mb-0 mr-3">0%</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Top 10 sản phẩm có doanh thu cao trong tháng @DateTime.Now.Month</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar"  style="height: 420px; max-height: 600px; margin: 0px auto;">
                        <div id="top-product-chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Doanh thu các ngày trong tháng @DateTime.Now.Month</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-bar" style="height: 420px; max-height: 600px; margin: 0px auto;">
                        <div id="chart-revenue-current-month"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <!-- Color System -->
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card bg-primary text-white shadow">
                        <div class="card-body">
                            Primary
                            <div class="text-white-50 small">#4e73df</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-success text-white shadow">
                        <div class="card-body">
                            Success
                            <div class="text-white-50 small">#1cc88a</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-info text-white shadow">
                        <div class="card-body">
                            Info
                            <div class="text-white-50 small">#36b9cc</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                            Warning
                            <div class="text-white-50 small">#f6c23e</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-danger text-white shadow">
                        <div class="card-body">
                            Danger
                            <div class="text-white-50 small">#e74a3b</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-secondary text-white shadow">
                        <div class="card-body">
                            Secondary
                            <div class="text-white-50 small">#858796</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 mb-4">
            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
                    <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>
                </div>
            </div>

        </div>
    </div>

</div>
@section Scripts{ 
    @*<script src="~/js/dashboard/admin-dashboard.js"></script>*@
    <script src="~/js/chartjs/jquery.canvasjs.min.js"></script>
    <script>
        "use strict";

        $(() => {
            let connection = new signalR.HubConnectionBuilder()
                .withUrl("/signalServer")
                .withAutomaticReconnect()
                .build();
        
            connection.on("newOrder", function () {
                loadData();
            });

            connection.on("newWarehouse", function () {
                loadWarehouseWaitData();
            });

            connection.on("newAccount", function () {
                loadAccountData();
                console.log("new account is called");
            });

            connection.on("newRevenue", function () {
                loadRevenueData();
            });

            connection.on("topProduct", function () {
                loadTopProductData();
            });

            connection.on("topRevenueCurrentMonth", function () {
                loadRevenueCurrentMonthData();
            });

            loadData();
            loadWarehouseWaitData();
            loadAccountData();
            loadRevenueData();
            loadTopProductData();
            loadRevenueCurrentMonthData();

            connection.start().then(function () {
                connection.invoke("AdminJoinGroup", "Admin");
            }).catch(function (err) {
                    return console.error(err);
            })

            function loadData() {
                $.ajax({
                    url: '/Admin/Home/GetOrderQuantity',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        $("#new-order-quantity").text(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }

            function loadWarehouseWaitData() {
                $.ajax({
                    url: '/Admin/Home/GetWarehouseWait',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        $("#new-warehouse-quantity").text(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }

            function loadAccountData() {
                $.ajax({
                    url: '/Admin/Home/GetAccount',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        var json = JSON.parse(data);
                        $("#new-account-quantity").text(json.month2);
                        var curr = json.month2;
                        var pre = json.month1;
                        if (curr === parseFloat(0)) {
                            curr = parseFloat(1);
                        }
                        if (pre === parseFloat(0)) {
                            pre = parseFloat(1);
                        }
                        var result = curr / pre * 100;
                        if (result - 100 < 0) {
                            result -= 100;
                            $("#account-percent").removeClass('text-danger');
                            $("#account-percent").addClass('text-danger');
                            $("#account-percent").text(result.toFixed(2) + "%")
                        }
                        else {
                            $("#account-percent").removeClass('text-success');
                            $("#account-percent").addClass('text-success');
                            $("#account-percent").text(" + " + result.toFixed(2) + "%")
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
           
            function loadRevenueData() {
                $.ajax({
                    url: '/Admin/Home/GetRevenue',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        var json = JSON.parse(data);
                        $("#revenue-value").text(json.CurrentRevenue);
                        var curr = parseFloat(json.CurrentRevenue);
                        var pre = parseFloat(json.PreRevenue);
                        if (curr === parseFloat(0)) {
                            curr = parseFloat(1);
                        }
                        if (pre === parseFloat(0)) {
                            pre = parseFloat(1);
                        }
                        var result = curr / pre * 100;
                        if (result - 100 < 0) {
                            result -= 100;
                            $("#revenue-percent").removeClass('text-danger');
                            $("#revenue-percent").addClass('text-danger');
                            $("#revenue-percent").text(result.toFixed(2) + "%")
                        }
                        else {
                            $("#revenue-percent").removeClass('text-success');
                            $("#revenue-percent").addClass('text-success');
                            $("#revenue-percent").text(" + " + result.toFixed(2) + "%")
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }

            function loadTopProductData() {
                $.ajax({
                    url: '/Admin/Home/GetTopProduct',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        var json = JSON.parse(data);
                        var chart = new CanvasJS.Chart("top-product-chart", {
                            theme: "light2", // "light1", "light2", "dark1", "dark2"
                            exportEnabled: true,
                            animationEnabled: true,
                            title: {
                                text: "Các sản phẩm có doanh thu cao"
                            },
                            data: [{
                                type: "pie",
                                startAngle: 25,
                                toolTipContent: "<b>{label}</b>: {y}%",
                                showInLegend: "true",
                                legendText: "{label}",
                                indexLabelFontSize: 16,
                                indexLabel: "{label}  {y}%",
                                dataPoints: json
                            }]
                        });
                        chart.render();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }

            function loadRevenueCurrentMonthData() {
                $.ajax({
                    url: '/Admin/Home/GetRevenueCurrentMonth',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        var json = JSON.parse(data);
                        $.each(json, function (k, v) {
                            v.x = new Date(v.x);
                        });
                        var chart = new CanvasJS.Chart("chart-revenue-current-month", {
                            animationEnabled: true,
                            title: {
                                text: "Doanh thu tháng"
                            },
                            axisX: {
                                valueFormatString: "DD MMM",
                                crosshair: {
                                    enabled: true,
                                    snapToDataPoint: true
                                }
                            },
                            axisY: {
                                title: "Doanh thu (VNĐ)",
                                valueFormatString: "##0",
                                crosshair: {
                                    enabled: true,
                                    snapToDataPoint: true,
                                    labelFormatter: function (e) {
                                        return "$" + CanvasJS.formatNumber(e.value, "##0.00");
                                    }
                                }
                            },
                            data: [{
                                type: "area",
                                xValueFormatString: "DD MMM",
                                yValueFormatString: "$##0.00",
                                dataPoints: json
                            }]
                        });
                        chart.render();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
        });
    </script>
}