@model FinalProject.Areas.Shipper.ViewModels.ChangePasswordViewModel;
@{
    Layout = "~/Areas/Shipper/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    @if (ViewBag.Success is not null)
    {

        <span class="alert alert-success">@ViewBag.Success</span>
    }
    @if (ViewBag.Failed is not null)
    {
        <span class="alert alert-danger">@ViewBag.Failed</span>
    }
    <form asp-action="ChangePassword" asp-controller="Account" asp-area="Shipper">
        <h1 class="h3 mb-2 text-gray-800">Thay đổi mật khẩu</h1>
        <div class="col-6 form-group">
            <label asp-for="CurrentPass">Mật khẩu hiện tại</label>
            <input class="form-control" id="currentPass" asp-for="CurrentPass" type="password" />
            <span class="text-danger" asp-validation-for="CurrentPass"></span>
        </div>
        <div class="col-6 form-group">
            <label asp-for="NewPass">Mật khẩu mới</label>
            <input class="form-control" id="NewPass" asp-for="NewPass" type="password" />
            <span class="text-danger" asp-validation-for="NewPass"></span>

        </div>
        <div class="col-6 form-group">
            <label for="ConfirmedPass">Mật khẩu hiện tại</label>
            <input class="form-control" id="ConfirmedPass" asp-for="ConfirmedPass" type="password" />
            <span class="text-danger" asp-validation-for="ConfirmedPass"></span>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Thay đổi" />
        </div>
    </form>


</div>
