<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>

    <link href="~/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet" type="text/css">
    <link href="~/Admin/css/image-style.css" rel="stylesheet" type="text/css">
    <link href="~/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/style/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="~/style/css/snackbar/notiny.css" rel="stylesheet" type="text/css" />
    <link href="~/style/css/loading/modal-loading.css" rel="stylesheet" type="text/css" />
    <link href="~/style/css/loading/modal-loading-animate.css" rel="stylesheet" type="text/css" />
    <link href="~/style/css/calendar/mc-calendar.min.css" rel="stylesheet" type="text/css" />
    <style>
        .bootstrap-select.form-control {
            border: 1px solid !important;
        }

        .hidden-table {
            display: none;
        }

        .form-field-label,
        .form-field-input {
            display: block;
        }

        .form-field-input {
            padding: 0.5em 0.7em;
            border: 1px solid #919fae;
            border-radius: 5px;
            outline: none;
        }

        .input-wrapper {
            display: flex;
        }

        .btn {
            border: 1px solid #919fae;
            border-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            outline: none;
            cursor: pointer;
        }

        .btn-large {
            padding: 0.6em 1em;
        }

        .btn-small {
            padding: 0 0.6em;
        }

        .calendarIcon {
            height: 1rem;
        }

        .form-field-input-coupled {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6e707e;
            background-color: #fff;
            background-clip: padding-box;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>
    @await RenderSectionAsync("Links", required: false)
</head>

<body id="page-top">
    <div id="wrapper">
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_LeftNavigation.cshtml")

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_Navigation.cshtml")

                @RenderBody()
            </div>

            @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_Footer.cshtml")
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng xuất</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có muốn đăng xuất không ?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" asp-action="Logout" asp-controller="Account" asp-area="Admin">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Admin/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/Admin/js/sb-admin-2.min.js"></script>
    <script type="text/javascript" src="~/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/Admin/js/demo/datatables-demo.js"></script>
    <script type="text/javascript" src="~/style/sweetalert2/dist/sweetalert2.min.js"></script>
    <script type="text/javascript" src="~/js/snackbar/notiny.js"></script>
    <script type="text/javascript" src="~/Admin/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/js/ProductDetailHelper.js"></script>
    <script type="text/javascript" src="~/admin/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/js/loading/modal-loading.js"></script>
    <script type="text/javascript" src="~/js/loading/loading.js"></script>
    <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="~/js/calendar/mc-calendar.min.js"></script>
    <script type="text/javascript" src="~/js/chartjs/jquery.canvasjs.min.js"></script>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            var idleTime = 0;
            $(document).ready(function () {
                //Increment the idle time counter every minute.
                //var idleInterval =
                setInterval(timerIncrement, 60000); // 1 minute

                //Zero the idle timer on mouse movement.
                $(this).mousemove(function (e) {
                    idleTime = 0;
                });
                $(this).keypress(function (e) {
                    idleTime = 0;
                });
            });

            function timerIncrement() {
                idleTime = idleTime + 1;
                if (idleTime > 29) { // 29 minutes
                    window.location.href = "/Admin/Account/Logout"
                }
            }

            function seenNotify(id) {
                $.ajax({
                    url: '/Admin/Notification/SeenNotify',
                    method: 'PUT',
                    async: true,
                    data: { notificationId: id },
                    success: function (data) {

                    },
                    error: function (code, err) {

                    }
                });
            }
        </script>

        <script>
            "use strict";

            let connection = new signalR.HubConnectionBuilder()
                .withUrl("/signalServer")
                .withAutomaticReconnect()
                .build();

            connection.on("newNotification", function (link, createdDate, content) {
                loadNewNotification(link, createdDate, content);
            });

            connection.on("rejectNotification", function (link, createdDate, content) {
                loadRejectNotification(link, createdDate, content);
            });

            connection.on("newReceiptRequestNotification", function (link, createdDate, content) {
                loadReceiptRequestNotification(link, createdDate, content);
            });

            connection.start().then(function () {
                connection.invoke("AdminJoinGroup", "Admin");
            }).catch(function (err) {
                return console.error(err);
            })

            function loadReceiptRequestNotification(link, createdDate, content) {
                var node = `<a class="dropdown-item d-flex align-items-center" href="` + link + `">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-warehouse text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">`+ createdDate + `</div>
                                `+ content +`
                            </div>
                            <div>
                                <img src="/images/background/icon-status.png" width="20" height="20" />
                            </div>
                        </a>`;

                var nodeShowAllNotification = `<a id="show-add-notification" class="dropdown-item text-center small text-gray-500"
                                            href="/Admin/Notification/Notifications">Xem tất cả thông báo</a>`;

                var number = parseInt($('#notification-count').text());

                number++;

                $('#notification-count').text(number + "")


                $('#show-notification').append(node);
                $('#show-add-notification').remove();
                $('#show-notification').append(nodeShowAllNotification);

                $.notiny({
                    position: 'right-top',
                    theme: 'success',
                    template: '<div class="notiny-base"><div class="MuiPaper-root MuiAlert-root MuiAlert-filledSuccess MuiPaper-elevation6"><div class="MuiAlert-icon"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4C12.76,4 13.5,4.11 14.2, 4.31L15.77,2.74C14.61,2.26 13.34,2 12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0, 0 22,12M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z"></path></svg></div><div class="notiny-text MuiAlert-message"></div></div></div>',
                    text: 'Thông báo yêu cầu nhập kho mới',
                });
            }

            function loadNewNotification(link, createdDate, content) {
                var node = `<a class="dropdown-item d-flex align-items-center" href="` + link +`">
                    <div class="mr-3">
                        <div class="icon-circle bg-primary">
                            <i class="fas fa-file-alt text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">`+ createdDate + `</div>
                        <span class="font-weight-bold">`+ content +`</span>
                    </div>
                    <div>
                        <img src="/images/background/icon-status.png" width="20" height="20" />
                    </div>
                </a>`;

                var nodeShowAllNotification = `<a id="show-add-notification" class="dropdown-item text-center small text-gray-500"
                                            href="/Admin/Notification/Notifications">Xem tất cả thông báo</a>`;

                var number = parseInt($('#notification-count').text());

                number++;

                $('#notification-count').text(number + "")


                $('#show-notification').append(node);
                $('#show-add-notification').remove();
                $('#show-notification').append(nodeShowAllNotification);

                $.notiny({
                    position: 'right-top',
                    theme: 'success',
                    template: '<div class="notiny-base"><div class="MuiPaper-root MuiAlert-root MuiAlert-filledSuccess MuiPaper-elevation6"><div class="MuiAlert-icon"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4C12.76,4 13.5,4.11 14.2, 4.31L15.77,2.74C14.61,2.26 13.34,2 12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0, 0 22,12M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z"></path></svg></div><div class="notiny-text MuiAlert-message"></div></div></div>',
                    text: 'Thông báo đơn hàng mới',
                });

            }

            function loadRejectNotification(link, createdDate, content) {
                var node = `<a class="dropdown-item d-flex align-items-center" href="` + link + `">
                    <div class="mr-3">
                        <div class="icon-circle bg-warning">
                            <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">`+ createdDate + `</div>
                        <span class="font-weight-bold">`+ content + `</span>
                    </div>
                    <div>
                        <img src="/images/background/icon-status.png" width="20" height="20" />
                    </div>
                </a>`;

                var nodeShowAllNotification = `<a id="show-add-notification" class="dropdown-item text-center small text-gray-500"
                                            href="/Admin/Notification/Notifications">Xem tất cả thông báo</a>`;

                var number = parseInt($('#notification-count').text());

                number++;

                $('#notification-count').text(number + "")


                $('#show-notification').append(node);
                $('#show-add-notification').remove();
                $('#show-notification').append(nodeShowAllNotification);

                $.notiny({
                    position: 'right-top',
                    theme: 'danger',
                    template: '<div class="notiny-base"><div class="MuiPaper-root MuiAlert-root MuiAlert-filledSuccess MuiPaper-elevation6"><div class="MuiAlert-icon"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M20,12A8,8 0 0,1 12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4C12.76,4 13.5,4.11 14.2, 4.31L15.77,2.74C14.61,2.26 13.34,2 12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0, 0 22,12M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z"></path></svg></div><div class="notiny-text MuiAlert-message"></div></div></div>',
                    text: 'Thông báo có đơn hàng chờ hủy',
                });
            }
        </script>

    }
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>