<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <link href="~/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="~/Admin/css/image-style.css" rel="stylesheet">

    <link href="~/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <script src="~/Admin/ckeditor/ckeditor.js"></script>

    <link href="~/style/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" type="text/css"/>


</head>

<body id="page-top">
    <div id="wrapper">
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_LeftNavigation.cshtml")

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_Navigation.cshtml")

                @RenderBody()
            </div>

            @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_Footer.cshtml")
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng xuất</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có muốn đăng xuất không ?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="login.html">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/Admin/js/sb-admin-2.min.js"></script>

    <script src="~/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/Admin/js/demo/datatables-demo.js"></script>
    <script src="~/style/sweetalert2/dist/sweetalert2.min.js"></script>

    <script src="~/js/ProductDetailHelper.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>