<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center"
           asp-action="Dashboard" asp-controller="Home" asp-area="Admin">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Stationary Admin</div>
        </a>
    </li>

    <li>
        <hr class="sidebar-divider my-0">
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-action="Dashboard" asp-controller="Home" asp-area="Admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Bảng điều khiển</span>
        </a>
    </li>

    <li>
        <hr class="sidebar-divider">
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#banner" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-images"></i>
            <span>Quản lý quảng cáo</span>
        </a>
        <div id="banner" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-action="Index" asp-controller="Banner" asp-area="Admin">Danh sách quảng cáo</a>
                <a class="collapse-item" asp-action="AddBanner" asp-controller="Banner" asp-area="Admin">Thêm quảng cáo</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-certificate"></i>
            <span>Quản lý loại sản phẩm</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-action="Index" asp-controller="Category" asp-area="Admin">Danh sách loại sản phẩm</a>
                <a class="collapse-item" asp-action="AddCategory" asp-controller="Category" asp-area="Admin">Thêm loại sản phẩm</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-atom"></i>
            <span>Quản lý sản phẩm</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-action="Index" asp-controller="Product" asp-area="Admin">Danh sách sản phẩm</a>
                <a class="collapse-item" asp-action="AddProduct" asp-controller="Product" asp-area="Admin">Thêm sản phẩm</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#orderManagement" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-file-invoice"></i>
            <span>Quản lý đơn hàng</span>
        </a>
        <div id="orderManagement" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-action="Index" asp-controller="Order" asp-area="Admin">Danh sách đơn hàng</a>
                <a class="collapse-item" asp-action="OrderWaitComfirm" asp-controller="Order" asp-area="Admin">Danh sách đơn hàng <br />chờ xác nhận</a>
                <a class="collapse-item" asp-action="OrderWaitExportWarehouse" asp-controller="Order" asp-area="Admin">Danh sách đơn hàng <br />chờ chuẩn bị</a>
                <a class="collapse-item" asp-action="OrderWaitToPick" asp-controller="Order" asp-area="Admin">Danh sách đơn hàng <br />chờ giao</a>
                <a class="collapse-item" asp-action="OrderDelivery" asp-controller="Order" asp-area="Admin">Danh sách đơn hàng <br />đang giao</a>
                <a class="collapse-item" asp-action="OrderDelivered" asp-controller="Order" asp-area="Admin">Danh sách đơn hàng <br />đã giao</a>
                <a class="collapse-item" asp-action="OrderReject" asp-controller="Order" asp-area="Admin">Danh sách đơn hàng <br />đã hủy</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#recommendationManagement" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-notes-medical"></i>
            <span>Quản lý khuyến nghị</span>
        </a>
        <div id="recommendationManagement" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-action="ViewRecommendation" asp-controller="Warehouse" asp-area="Admin">Danh sách sản phẩm <br /> khuyến nghị</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#importWarehouseManagement" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-notes-medical"></i>
            <span>Quản lý nhập kho</span>
        </a>
        <div id="importWarehouseManagement" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-action="ListReceiptRequest" asp-controller="Warehouse" asp-area="Admin">Danh sách yêu cầu<br /> nhập kho</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#saleManagement" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-piggy-bank"></i>
            <span>Quản lý khuyến mại</span>
        </a>
        <div id="saleManagement" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-action="Index" asp-controller="Sale" asp-area="Admin">Danh sách khuyến mại</a>
                <a class="collapse-item" asp-action="AddSale" asp-controller="Sale" asp-area="Admin">Thêm khuyến mại</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#statisticalManagement" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-stream"></i>
            <span>Quản lý thống kê</span>
        </a>
        <div id="statisticalManagement" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-action="Index" asp-controller="Statistical" asp-area="Admin">Thống kê doanh thu</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#guideManagement" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-book"></i>
            <span>Quản lý hướng dẫn</span>
        </a>
        <div id="guideManagement" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-action="Index" asp-controller="Guide" asp-area="Admin">Danh sách các hướng dẫn</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#accountManagement" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-user"></i>
            <span>Quản lý tài khoản</span>
        </a>
        <div id="accountManagement" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-action="Index" asp-controller="Account" asp-area="Admin">Danh sách tài khoản</a>
                <a class="collapse-item" asp-action="CreateEmployeeAccount" asp-controller="Account" asp-area="Admin">Thêm tài khoản</a>
            </div>
        </div>
    </li>

    <li>
        <hr class="sidebar-divider">
    </li>

    <li class="text-center">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </li>
</ul>