@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>403 - Không có quyền truy cập</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/style/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/style/css/error-page.css" />
    <style>
        /* Login background */
        .background-body-login {
            background-image: url(../../images/background/bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body class="background-body-login">
    <section id="error">
        <div class="content">
            <i class="fa fa-warning"></i>
            <h1>403</h1>
            <p>Lỗi! - Bạn không có quyền truy cập trang này</p>
            <button class="btn btn-warning center-block" type="button" onclick="goBack()">Quay lại</button>
            <br />
            <button class="btn btn-success center-block" onclick="goBackHome()">Quay lại trang chủ</button>
        </div>
    </section>

    <script type="text/javascript" src="~/style/bootstrap/js/bootstrap.min.js"></script>
    <script>
        function goBack() {
            window.history.back()
        }
        function goBackHome() {
            window.location.href = '/Warehouse/Home/Dashboard';
        }
    </script>
</body>

</html>