@model FinalProject.Areas.Warehouse.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Areas/Warehouse/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <section class="mb-5">
        <h1>Đổi mật khẩu</h1>
        <br />
        @if (!(ViewBag.MessageSuccess is null))
        {
            <div class="alert alert-success">@ViewBag.MessageSuccess</div>
        }
        @if (!(ViewBag.MessageFail is null))
        {
            <div class="alert alert-danger">@ViewBag.MessageFail</div>
        }
        <form asp-action="ChangePassword" asp-controller="Account" asp-area="Warehouse" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="newPass">Nhập mật khẩu cũ</label>
                <input type="password" asp-for="OldPassword" class="form-control">
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            </div>

            <div class="form-group">
                <label for="newPass">Nhập mật khẩu mới</label>
                <input type="password" asp-for="NewPassword" class="form-control">
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>

            <div class="form-group">
                <label for="newPassConfirm">Nhập lại mật khẩu</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary mb-4">Đổi mật khẩu</button>
            </div>

        </form>
    </section>
</div>