@{
    ViewData["Title"] = "Thanh toán thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home">
                    <a asp-action="Index" asp-controller="Home" title="Go to Home Page">Trang chủ</a>
                    <span>|</span>
                </li>
                <li class="category3">
                    <strong>Thông báo đặt hàng thành công</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="box-content">
    <div class="position-02">
        <div class="container">
            <h2>Thanh toán thành công</h2>
            <a asp-controller="Order" asp-action="OrderInfo" asp-route-orderId="@ViewBag.OrderId" class="btn btn-primary btn-lg btn-block">
                Xem thông tin đơn hàng của bạn
            </a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-success btn-lg btn-block">Trở về trang chủ</a>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/customer/remove-nav.js"></script>
}